input {
  border: 1px solid hsl(var(--input));
}

.formItem {
  &:has(input[required]) {
    label::after {
      content: " *";
      color: hsl(var(--destructive));
    }
  }

  &:has(textarea[required]) {
    label::after {
      content: " *";
      color: hsl(var(--destructive));
    }
  }
}
